<!doctype html>
<html>
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body id="bootstrap-overide">
<div class="container">

    <div class="page-header text-center">
      <% if(messages.length !== 0) {%>
        <h1><span class="fa fa-star"></span><%= messages[messages.length - 1].name + "'s Fitness Manager" %></h1>
        <%} %>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

  
    <div class="jumbotron text-center">
      <% if(messages.length !== 0) {%>
      <ul class="list-group list-group-horizontal">
      <li class="list-group-item name" data-name="<%= messages[0].name%>"><%= messages[messages.length - 1].name%></li>
      <li class="list-group-item" data-height="<%= messages[0].height%>"><%= 'Height: ' + messages[messages.length - 1].height + " inches"%></li>
      <li class="list-group-item" data-weight="<%= messages[0].weight%>"><%= 'Weight: ' + messages[messages.length - 1].weight + "lbs"%></li>
      <li class="list-group-item" data-bmi="<%= messages[0].bodymass %>"><%= 'BMI: ' + messages[messages.length - 1].bodymass%></li>
      <li class="list-group-item" data-class="<%= messages[0].class%>"><%= 'Classification: ' + messages[messages.length - 1].class%></li>
    </ul>
    <%} %>
    </div>
    
    <div class="form-group">
      <label for="exampleFormControlSelect1">Target Weekly Weight Gain/Loss</label>
      <select class="form-control goal" id="exampleFormControlSelect1" name="weeklygoal">
        <option value= -1>-1lb a week</option>
        <option value=-2>-2lb a week</option>
        <option value=1>+1 a week</option>
        <option value=2>+2 a week</option>
      </select>
    </div>
    <div class="form-group">
      <label for = "inputPassword">Goal Weight in lbs</label>
      <input type="text"  class="form-control target" id="inputPassword" placeholder="Enter Goal Weight">
    </div>

    <div class="form-group">
      <label for = "age">Age</label>
      <input type="text" class="form-control age" id="age" placeholder="Enter Age">
    </div>

    
    <ul class="list-group list-group-horizontal">
      <% if(messages.length !== 0) {%>
      <li class="list-group-item"><button  data-name="<%= messages[messages.length - 1].name%>" data-weight="<%= messages[messages.length - 1].weight%>" data-bmi="<%= messages[messages.length - 1].bodymass %>" data-height="<%= messages[messages.length - 1].height%>" type="submit" class="btn btn-primary btn-lg btn-block submit">Update Data</button></li>
    </ul>
    <%} %>

    
    <div class="jumbotron text-center">
      <% if(messages.length !== 0) {%>
      <ul class="list-group list-group-horizontal">
      <li class="list-group-item"><%= 'BMR: ' + messages[messages.length - 1].estBMR + 'kcal' %></li>
      <li class="list-group-item"><%= 'Dietary Intake: ' + messages[messages.length - 1].diet + 'kcal' %></li>
      <li class="list-group-item"><%= 'Goal: ' + messages[messages.length - 1].goalWeight + 'lbs' %></li>
      <% if(messages[messages.length - 1].estTime > 0) {%>
      <li class="list-group-item"><%= 'ETA: ' + messages[messages.length - 1].estTime + ' weeks' %></li>
      <% } %>

      <% if(messages[messages.length - 1].estTime < 0) {%>
        <li class="list-group-item"><%= 'ETA: ' + ' Not Possible' %></li>
        <% } %>
        
    </ul>
    <%} %>
    </div>
   



<script src="main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
